@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    scrollbar-width: 100px;
}

html {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    // background: linear-gradient(180deg, #2B3B91 0%, #473382 100%);
    background: linear-gradient(0deg, #29223D 0%, #25243D 100%);
    background-attachment: fixed;
    width: 100%;
    
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: fixed;
    top:0;
    height: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 200;
    transition: ease-in-out 1s;
    overflow: hidden;
}

.section {
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--vertical-fit {
        height: fit-content;
    }
}

.title-banner {
    display: flex;
    justify-content: space-between;
    width: calc(clamp(400px, 60vw, 800px));
    height: calc(clamp(125px, 15vw, 200px));
    
    &__text-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text-primary {
        // font-size: calc(min(3vw, 56px));
        font-size: calc(clamp(19px, 3vw, 40px));

        font-weight: 300;
    }
    &__text-secondary {
        font-size: calc(clamp(13px, 2vw, 26px));
        font-weight: 100;
    }
}

img {
    object-fit: contain;
    height: 100%;
}

.social-logos {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: absolute;
    bottom: 15vh;
    
    &__logo {
        width: 30px;
        filter: invert(0.8);
        transition: ease-in-out 0.2s;
        margin: 0 15px;

        @keyframes spread {
            from { margin: 0 5px; }
            to { margin: 0 15px; }
        }

        animation-name: spread;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        
        &:hover {
            filter: invert(1);
        }
    }
}

@keyframes fadein {
    from { opacity: 0; filter: blur(10px);}
    to   { opacity: 1; }
}

.fadein {
    animation-name: fadein;
    animation-duration: 0s;
    animation-fill-mode: both;
}

@for $i from 1 through 25 {
    .at-#{$i} {
        animation-duration: $i*100ms;
    }
    .at0-#{$i} {
        animation-delay: $i*100ms;
    }
}